*~
*.iws
*.ipr
*.iml
.project
.classpath
.factorypath
.settings/
.idea/
.idea
.DS_Store
classes/
build.properties
atlassian*
tmp/
target/
lib/
impl/target/
integration/target/
docker/wildfly-kubeping.zip

