*~
*.iws
*.ipr
*.iml
.project
.classpath
.factorypath
.settings/
.metadata/
.idea/
.idea
.DS_Store
classes/
build.properties
atlassian*
tmp/
target/
lib/
impl/target/
integration/target/
docker/eap/jboss-eap-kubeping.zip
docker/wildfly/wildfly-kubeping.zip

